@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

body {
  font-style: normal;
  font-family: 'Sarala', sans-serif;
  background-color: black;
}

.cabecalho {
  display: flex;
  background-color: black;
  justify-content: space-between;
  border-bottom: 1px solid #028779;
  padding: 10px 20px

}

.cabecalho-logo {
  height: 72px;
  margin-left: 20px;
}

.cabecalho-menu {
  text-align: right;
  display: flex;
}

.cabecalho-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: 'Sarala', sans-serif;
  font-weight: 500;
  margin-right: 40px;
}

.cabecalho-menu-item:hover{
  text-decoration: underline;
  text-decoration-color: #028779;
  text-underline-offset: 6px;
  padding-top: 2px;
}

.conteudo-apresentacao-escrito {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 100px;
  margin-left: 80px;
  width: 400px;
}

.conteudo-apresentacao-titulo {
  display: flex;
  margin-bottom: 30px;
  color: #fff;
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.conteudo-apresentacao-texto {
  color: #fff;
  text-align: justify;
  font-size: 15px;
}
