.title-projects {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-size: 50px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #028779;
    width: 280px;
    height: 220px;
    border-radius: 10px;
    border: 2px solid #01776b;
}

.to-do-image {
    width: 200px;
    height: 220px;
}

.landing-page-image {
    height: 180px;
    width: 180px;   
}

.portfolio-image {
    width: 180px;
    height: 180px;   
}

.second-container-projects {
    display: flex;
    justify-content: space-around;
    margin-left: 220px;
    margin-right: 220px;
    margin-top: 50px;
}

.first-loading {
    width: 160px;
    height: 160px;
}

.second-loading {
    width: 160px;
    height: 160px;
}