@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

body {
  font-style: normal;
  font-family: 'Sarala', sans-serif;
  background-color: rgb(20, 20, 20);
}
