@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

body {
  font-style: normal;
  font-family: 'Sarala', sans-serif;
  background-color: rgb(20, 20, 20);
}

::-webkit-scrollbar {
  width: 5px; 
  height: 5px; 
  background-color: rgb(20, 20, 20); 
}

::-webkit-scrollbar-thumb {
  background-color: #fff; 
  border-radius: 5px; 
  border: 1px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff; 
}


::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20); 
}
